"""{{ module_name }} Repositories.

Repositories handle data persistence operations.
They abstract the database layer from the business logic.
"""

from src.Containers.{{ section }}.{{ module_name }}.Data.Repositories.{{ name }}Repository import {{ name }}Repository

__all__ = ["{{ name }}Repository"]
