"""{{ module_name }} Models (Piccolo ORM).

Domain entities persisted to the database.
"""

from src.Containers.{{ section }}.{{ module_name }}.Models.{{ name }} import {{ name }}

__all__ = ["{{ name }}"]
