"""{{ module_name }} WebSocket Layer.

Real-time WebSocket handlers.
"""

from src.Containers.{{ section }}.{{ module_name }}.UI.WebSocket.Handlers import {{ name }}WebSocketHandler

__all__ = ["{{ name }}WebSocketHandler"]
